@import '/app/variables.module.scss';

.genderSelection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px 0;
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      @include containerStyles_2($shadow-color);
      p {
        font-size: 14px;
        text-transform: capitalize;
        color: $gray-3;
      }
    }
  }