@import '/app/variables.module.scss';

.container {
  padding-right: 118px;
  @media (max-width: 768px) {
    padding: 0;
  }
  form.form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      margin: auto;
      max-width: 194px;
      margin-top: 30px;
    }
    .articleNumberAndPrice {
      display: flex;
      gap: 20px;
      @media (max-width: 576px) {
        flex-direction: column;
        margin-top: 10px;
      }
    }
  }
}

.addButtonCtn {
  @include flex-end;
  padding-right: 20px;
  button.addButton {
    @include addButtonStyles;
    padding: 10px 40px;
    width: unset;
  }
}
