@import '/app/variables.module.scss';

.subCategories {
  width: 90%;
  max-width: 880px;
  @include flex-column(0);
  justify-content: space-between;
  .filter {
    display: flex;
    gap: 55px;
  }
}
